@charset "utf-8";
.content-header>.breadcrumb {
    float: none;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 2px;
}