@charset "UTF-8";
/**********common*************/
.main {
    background-color: #E2E2E2;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 12px 12px;
    padding-top: 8px;
    padding-bottom: 20px;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

#footer {
    background: url(../images/footer-light.jpg) 0 0/100% no-repeat #282828;
    color: #B9B9B9;
    font-family: "微软雅黑", sans-serif;
    font-size: 13px;
    height: 165px;
}

#footer li {
    list-style: none;
}

#copyright {
    border-top: 1px solid #1e1e1e;
    background: #202020;
    color: #636161;
    display: block;
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

#copyright span {
    margin-right: 15px;
}

.more-information {
    height: 165px;
}

#footer h3 {
    color: #325c8c;
    font-family: "微软雅黑", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(10, 10, 10);
    text-align: center;
    margin-bottom: 10px;
}

#footer .friend-link {
    text-align: center;
}

#footer .friend-link a {
    float: left;
    color: #9B9B9B;
    width: 200px;
}

#footer p {
    font-size: 12px;
    text-align: justify;
    padding: 0 20px 0 0;
    line-height: 21px;
    text-indent: 2em;
}

.with-shadow {
    box-shadow: 0 0 5px #999999;
}

.main-content {
    background: #FFF;
    padding: 0 15px 20px;
}

.form .input-group {
    margin-bottom: 10px;
}

.form-title {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.radius-10 {
    border-radius: 10px 10px 0 0;
}

.list-header h1 {
    margin-top: 0;
    padding: 10px 10px 10px 30px;
    background: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
}

.list-header .glyphicon {
    font-size: 0.6em;
    margin-right: 8px;
}

.read-more {
    border: 1px solid #DDDDDD;
    border-top: 1px solid rgba(120, 120, 120, 0.1);
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 2px 15px;
    margin-left: 0.5em;
    cursor: pointer;
    color: #333333;
    opacity: 0.7;
}

.read-more .glyphicon {
    display: inline;
    margin-right: 4px;
    font-size: 0.8em;
}

a.read-more:hover {
    text-decoration: none;
    color: #333333;
    opacity: 1;
}

.hidden {
    display: none;
}

/***************header*********************/
.index-header {
    background: url("../images/blue-bg.png") no-repeat;
    height: 260px;
    background-size: 100%;
}

.index-header .container {
    position: relative;
    top: 50px;
}

.index-navbar {
    margin-top: 50px;
    z-index: 1;
}

.index-logo {
    padding-right: 0;
    z-index: 2;
}

.index-logo img {
    width: 150px;
    height: 150px;
    box-shadow: -2px 0 5px blue, 0 -2px 5px red, 0 2px 5px yellow, 2px 0 5px green, 2px 0 5px red;
    float: right;
    position: relative;
    left: 20px;
}

/************首页文章列表****************/
.entry-header {

}

.entry-header h3 {
    margin-top: 0;
    padding-bottom: 4px;
    border-bottom: 2px dashed #DDDDDD;
}

.entry-header span {
    font-size: 0.6em;
    position: relative;
    top: -4px;
}

.entry-header a:hover {
    text-decoration: none;
}

.pl-category:hover span {
    background-color: #5CB85C;
}

.entry-content li > p {
    text-indent: 5px;
}

.entry-content p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8em;
    text-indent: 2em;
}

.entry-content img {
    max-width: 775px;
}

.post-list .entry-content img {
    float: left;
    margin: 0.7em 1em;
}

article.list-group-item:nth-of-type(1) {
    box-shadow: 0 0 3px rgba(153, 153, 153, 0.6);
}

.entry-footer {
    clear: both;
    display: block;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    background-color: #F7F7F7;
    margin-left: -16px;
    margin-right: -15px;
}

.post-view .entry-content {
    padding-bottom: 15px;
}

.post-view .entry-footer {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

.post-view .entry-footer a {
    color: #555555;
}

.post-view .entry-footer h4 {
    margin: 0;
    padding: 0;
}

.entry-footer span {
    margin-right: 12px;
    font-size: 12px;
    display: inline-block;
}

.entry-footer i {
    margin-right: 3px;
    color: #999999
}

.post-list {
    border-radius: 10px 10px 0 0;
    background: #FFFFFF;
    padding-bottom: 18px;
}

.post-list .list-group-item:hover {
    border-radius: 0 4px 0;
    padding-left: 11px;
    border-left: 5px solid #428BCA;
    background-color: #F8FCFE;
}

.post-list .list-group-item:hover .entry-header h3 {
    border-bottom: 2px dashed orange;

}

.list-group-item .entry-content {
    line-height: 1.9em;
    padding-bottom: 8px;
}

.list-group-item .entry-content img {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.43;
    max-width: 220px;
    max-height: 180px;
    padding: 4px;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.pl-category {
    margin-right: 0.2em;
}

/**************sidebar*******************/
.sidebar {
}

.widget {
    margin-bottom: 8px;
}

.widget ul {
    clear: both;
    margin-bottom: 10px;
    background-color: #fff;
}

.widget h3 {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.5em;
    height: 2.5em;
    margin: 0;
    padding-left: 20px;
    font-family: "Microsoft YaHei", "Arial", "Lucida Grande", "Tahoma", "sans-serif";
    cursor: pointer;
    position: relative;
}

.widget h3 i {
    margin-right: 1em;
}

.widget ul {
    list-style: none outside none;
    padding-left: 0;
}

.aside-carousel {

}

.aside-comments a:hover {
    text-decoration: none;
}

.aside-comments a:hover span {
    text-decoration: underline;
}

.aside_postlist li a:hover {
    background-color: #F8FCFE;
    border-left-color: #428BCA;
}

.aside_postlist li a {
    border-bottom: 1px solid #EEEEEE;
    border-left: 3px solid transparent;
    display: block;
    font-size: 14px;
    margin-left: -3px;
    overflow: hidden;
    padding: 10px 15px 10px 105px;
    position: relative;
}

.widget ul li {
    border-bottom: 1px solid #EEEEEE;
    border-left: 3px solid transparent;
    color: #999999;
    display: block;
    margin-left: -1px;
    overflow: hidden;
    padding: 6px 15px 6px 10px;
}

.aside-about ul li {
    cursor: pointer;
}

.aside-comments ul a {
    color: #999999;
}

.aside-comments ul a:hover {
    color: #2A6496;
}

.aside-tags div {
    background-color: #fff;
    padding: 10px;
}

.aside-tags a {
    font-size: 18px;
    display: inline-block;
    line-height: 1.5em;
    margin: 0 5px 5px 0;
    opacity: 0.8;
}

.aside-tags span {
    padding: 2px 15px;
    opacity: 0.8;
}

.aside-tags span:hover {
    opacity: 1;
}

.aside-tags a:hover {
    text-decoration: none;
}

/***************fixed**************/
article.list-group-item {
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    margin-bottom: 0;
}

#myCarousel {
    display: none;
}

aside.sidebar {
    padding-right: 0;
}

/*******************toolbar**************************/
#toolbar {
    max-width: 877px;
    padding-right: 0;
    z-index: 1;
    position: fixed;
    top: 60%;
    display: none;
}

#toolbar ul {
    float: right;
    padding: 0;
}

#toolbar li {
    overflow: hidden;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 7px;
    padding-bottom: 5px;
    background: #5d5d5d;
}

#toolbar a {
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 15px;
    color: #5d5d5d;
    list-style: none;
}

#toolbar i {
    font-size: 0.6em;
    color: #5BC0DE;
}

/*************************POST*******************************/
#content {
    background: #FFF;
    border-radius: 10px 10px 0 0;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

#content .entry-header {
    text-align: center;
}

#content .entry-header h1 {
    border-bottom: 2px dashed #DDDDDD;
    margin-top: 0;
    padding-bottom: 4px;
}

#content .entry-meta {
    padding-right: 10px;
    text-align: right;
    border-bottom: 2px dashed #DDDDDD;
    margin-top: -4px;
    padding-bottom: 10px;
    margin-bottom: 1em;
    color: #666666;
}

#content .entry-meta .label a {
    color: #FFFFFF;
}

#content .entry-meta span {
    display: inline-block;
    font-size: 12px;
    margin-right: 12px;
}

/***********面包屑**************/
.breadcrumbs {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 10px 10px 0 0;
    font-family: "Microsoft YaHei", "Arial", "Lucida Grande", "Tahoma", "sans-serif";
    font-size: 15px;
    font-weight: 400;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 20px;
}

.breadcrumbs i {
    color: #E53434;
    margin-right: 0.5em;
    font-weight: 800;
}

#content article {
    margin-top: 10px;
}

/*****************错误页面**********************/
.error-page {
    padding: 15px;
}

.error-page h2 {
    color: #ff3620;
    font-weight: bolder;
}

.error-page .alert {
    font-weight: bold;
}

/**************留言 Comment***************/
.post-comments {
    font-size: 13px;
    line-height: 22px;
}

.leave-comment {
    position: relative;
    border-top: 2px dashed #DDDDDD;
}

.leave-comment > div {
    min-height: 171px;
}

.leave-comment .input-group {
    margin-top: 9px;
    color: #555555;
}

#onTransfer {
    z-index: 99;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#onTransfer span {
    height: 150px;
    width: 150px;
    display: block;
    margin: 10px auto;
    background: url(../images/loading-onTransfer.gif) center center no-repeat;
}

.comment-smilie {
    height: 25px;
    font-size: 14px;
    line-height: 25px;
}

#more_smilie {
    color: #7399bf;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -2px;
    left: -3px;
}

.smilie-img {
    display: inline-block;
    height: 20px;
    width: 24px;
    overflow: hidden;
}

.comment-smilie img {
    cursor: pointer;
    margin: 3px 2px;
    display: inline-block;
}

.leave-comment textarea {
    margin-top: 9px;
    height: 86px;
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.leave-comment .ccaptcha {
    padding: 0 12px;
}

.comment-list {
    list-style: none;
    padding-left: 15px;
}

.c-avatar {
    float: left;
    margin-right: 10px;
}

.c-meta {
    color: #7E7E7E;
}

/******************评论框*************************/
#comments {
    border-bottom: 1px dashed #E6E6E6;
    padding-bottom: 5px;
}

.comment-list li {
    min-height: 45px;
    padding: 5px 0;
    border-bottom: 1px solid #E6E6E6;
    display: block;
}

.comment-reply-link {
    color: #5699D0;
    cursor: pointer;
    text-decoration: underline;
}

.leave-comment .actionPanel {
    margin-top: 6px;
    text-align: right;
}

.leave-comment .comment-author {
    text-align: center;
    margin: 10px auto 0;
}

.comment-captcha {
    margin-top: 20px;
    padding-right: 0;
    padding-left: 0;
}

.comment-captcha .ccaptcha {
    padding: 4px 0 0;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.comment-captcha span {
    width: 100%;
}

.comment-captcha em {
    left: 5px;
}

.comment-captcha .form-control {
    border-radius: 0 0 4px 4px;
}

#comment_error {
    display: none;
    text-align: center;
}

.comment-list .replyTo {
    margin-left: 40px;
    border-left: 2px dashed #DDDDDD;
}

.replyTarget, .replyTarget a {
    color: #A0A0A0;
}

/**************user info******************/
.author-info {
    min-height: 110px;
    margin: 10px;
}

.user-info {
    padding-left: 10px;
}

.user-info div {
    padding: 10px;
    height: 110px;
    width: 100%;
}

.rss-feed {
    position: relative;
    top: 1px;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-top: 5px;
    margin-left: 5px;
    background: url(../images/rss_feed15.png) no-repeat;
    background-size: 15px;
}

.scriptAnalyzer {
    display: none;
}

.entry-content blockquote p {
    font-size: 1em;
}

.widget .more-link {
    border-top: 1px solid #EEEEEE;
    font-size: 14px;
    padding: 6px 15px 6px 13px;
    color: #999999;
    margin: 0 -10px -10px -10px;
}

.widget .more-link a {
    font-size: 14px;
}

/*********隐藏************/
.hidden-post {
    width: 400px;
    padding: 10px;
    border: 1px dashed #DDDDDD;
    border-radius: 15px;
    background: #F7F7F7;
    margin: 10px auto;
}

.hidden-post .ccaptcha {
    padding: 0;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.hidden-post .input-group-addon {
    width: 80px;
}